<html>
<h1>Home index</h1>
<body bgcolor="red"> UFFFFFFF </body>
<title style="color:blue"> A random title </title>
<p>Find me in app/views/home/index.html.erb</p>
<p> This is my first project and I have no idea what I'm doing.</p>
<b> Nic nie ogarniam</b>
</html>